<style>
  .message-content{ font-family: Arial, Helvetica, sans-serif; max-width: 600px;
  font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Ola {{name}}!</p>
  <br />
  <p>Recebemos uma solicitação de redefinião de senha para a sua conta de
    usuario</p>
  <p>Se realmente foi voce que solcitou clique no link abaixo para redfinir a
    senha</p>
  <p><a href='{{link}}'>Resetar a senha</a></p>
</div>
